.case__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.filters__wrapper {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  height: 70px;
  width: 32%;
}

.btn.btn-lg {
  color: #000;
  border-radius: unset;
  border: unset;
  font-size: 2.5rem;
  line-height: 43px;
  width: 100%;
}

.grey__text {
  color: #a3a3a3;
  opacity: 0.8;
  text-decoration: unset;
}

.dropdown-menu {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 43px;
  width: 100%;
}

.case__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px 32px;
}

.case__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 933px;
  width: 815px;
}

.case__text__wrapper {
  display: flex;
  align-self: start;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 24px 0;
}

.case__name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 700;

  line-height: 17px;
  margin: 24px 0;
  color: #939393;
  text-transform: uppercase;
}

.case__tagline {
  font-size: 2.7rem;
}

.case__link {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

.arrow_left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 15px solid blue;
  margin-right: 16px;
}

.text__only .case__text__wrapper {
  justify-self: flex-start;
  border-top: 1px solid #939393;
  width: 100%;
}

.text__only .second__text {
  border-bottom: 1px solid #939393;
  margin-bottom: 15rem;
}

.florensis__bg {
  background: url('../images/hero-img.jpg') no-repeat center center;
  background-size: cover;
  height: 766px;
  width: 815px;
}
