.clients__container {
  background: #f0f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.clients__heading {
  font-size: 4.688rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem auto;
}

.clients__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  line-height: 2.7rem;
  margin: 2rem auto;
  width: 47%;
}

.clients__img {
  display: block;
  margin: 2rem auto;
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .clients__heading {
    line-height: 43px;
  }
  .clients__text {
    font-size: 1.2rem;
    line-height: 27px;
    text-align: center;
    margin: 0 auto;
    width: 358px;
    height: 135px;
  }
}
