.hero__container {
  height: 100vh;
}

.hero__link {
  background: #0c0c0c;

  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 17px;
  text-transform: uppercase;

  position: absolute;
  width: 280px;
  height: 80px;
  left: 1580px;
  top: 1228px;

  white-space: no-wrap;
}

.hero__link:hover {
  background: #fff;
  color: #0c0c0c;
  transition: all .4s ease-in-out;
}

.hero__bg {
  object-fit: cover;
  max-width: 100vw;
  height: 1426px;
  width: auto;
}

.hero__spacer {
  border: 1px solid #0e0e0e;
  position: absolute;
  width: 95vw;
  height: 0px;
  left: 50%;
  transform: translateX(-50%);
  top: 124px;
  margin: 0 auto;
}

.hero__title {
  color: #000000;
  font-size: 713px;
  font-style: normal;
  font-weight: 400;
  height: 573px;
  line-height: 573px;
  text-transform: uppercase;
  position: absolute;
  top: 454px;
  left: 140px;
  width: 713px;
}

@media screen and (max-width: 600px) {
  .hero__bg {
    object-fit: contain;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
  }

  .hero__spacer {
    display: none;
  }

  .hero__title {
    font-size: 100px;
    top: 80%;
    left: 35%;
    transform: translate(-35%, -80%);
    width: 413px;
  }
}
