.landing__wrapper {
  position: relative;
}

.logo__img {
  position: absolute;
  width: 100px;
  height: 28.4px;
  left: 36px;
  top: 29px;
}

.landing__img {
  display: block;
  width: 100%;
}

.navIcon__container {
  color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 80px;
  right: 64px;
  top: 49px;
  transform: translate(-50%, -50%);
}

.menu__text {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: upperCase;
}

.navIcon__line {
  display: block;
  background-color: #000000;
  border-radius: 999px;
  height: 2px;
  width: 28px;
}

#navMenu,
.navIcon__line {
  transition: all 0.4s ease-in-out;
}

.navIcon__line:not(:last-child) {
  margin-bottom: 8px;
}

.line__black {
  border: 1px solid #0e0e0e;
  height: 0px;
  left: 36px;
  position: absolute;
  top: 85.25px;
  width: 1762px;
}

.hero__container {
  position: relative;
}

.landing__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #0c0c0c;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  width: 270px;
  height: 85px;
  left: 1690px;
  top: 1180px;
  text-transform: uppercase;
  text-decoration: none;
  transform: translate(-50%, -50%);
}

.landing__link:hover {
  background-color: #fff;
  color: #0c0c0c;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav__container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .navIcon__container {
    justify-self: flex-end;
    display: flex;
    margin-right: 1rem;
    top: 40px;
    width: 5%;
  }

  .logo__img {
    height: 15px;
    width: 53px;
  }

  .menu__text {
    margin-right: 1rem;
    font-size: 1.3rem;
  }

  .landing__img {
    margin-top: 64px;
    width: 100vw;
  }

  .line__black {
    display: none;
  }

  .landing__link {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 55px;
    left: 1rem;
    right: 1rem;
    top: 354px;
    font-size: 1.2rem;
    background: #0c0c0c;
    color: #fff;
  }
}
