.nav__container {
  position: relative;
  width: 100%;
  z-index: 9999;
}

.close {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 94.97%;
  right: 3.44%;
  top: 5.26%;
  bottom: 92.74%;
  z-index: 6;
}

.dropdown__container {
  background: #0c0c0c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  scrollbar-width: none;
  height: 837px;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav__list.countries {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 130px;
}

.nav__right {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.nav__list.pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: inherit;
  position: absolute;
  top: 13rem;
  right: 32px;
  width: inherit;
}

.nav__item.link {
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
  width: 95%;
}

.page {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 6rem;
  position: relative;
  width: 100%;
}

.page:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.page::before {
  content: '';
  position: absolute;
  display: block;
  width: 21%;
  height: 5px;
  bottom: -1rem;
  right: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.page:hover::before {
  transform: scaleX(1);
}

.countries__container {
  margin-top: 8rem;
  margin-left: 4rem;
  width: 131px;
  height: 240px;
}

.countries__heading {
  color: rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  text-align: left;
  width: 100%;
}

.country,
.social__link {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.7rem;
  position: relative;
  text-decoration: none;
}

.country:hover,
.social__link:hover {
  color: #fff;
  text-decoration: none;
}

.country:after,
.social__link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.country:hover::after,
.social__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.networks__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: -102px;
  left: -11%;
  text-align: left;
  margin-left: 3.8rem;
  width: 5%;
  height: 176px;
}

@media screen and (max-width: 768px) {
  .nav__container {
    width: 100vw;
  }
  .countries__container {
    visibility: hidden;
    opacity: 0;
  }

  .networks__container {
    visibility: hidden;
    opacity: ;
    :0 ;
  }

  .nav__item.link {
    font-size: 3.4rem;
  }

  .nav__container::after {
    all: unset;
  }
  .nav__list.pages {
    top: 4rem;
  }
  .nav__item.link {
    width: 100%;
  }

  .close {
    left: 84.97%;
    top: 3.26%;
    height: 1.5rem;
    width: 1.5rem;
  }

  .nav__right {
    margin-top: 2rem;
  }
}
